# Data exclusion
data/raw/*
!data/raw/.gitkeep
!data/raw/README.md
data/raw_test/*
!data/raw_test/.gitkeep
!data/raw_test/README.md
dataset/raw/
dataset/processed/
*.dcm
*.png
*.npy
!dataset/labels.csv

# Python environment
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE settings
.idea/
.vscode/